.editor-options-parent-wrapper {
  border-top: 0.1px solid;
  border-bottom: 0.1px solid ;
  border-color: #2F3741;
  height: 30px;
  width: 1620px; // adjust the height to width 100% later

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;

  .editor-left-options {
    button {
      height: 17px;
    }
    display: flex;
    align-items: center;
    gap: 10px;
    .separator {
      font-size: 15px;
      color: #5b5b5c;
      margin-bottom: 3px;
    }
  }
  .editor-right-options {
    display: flex;
    align-items: center;
    gap: 10px;

    .share-button {
      cursor: pointer;

      width: 12px;
      height: 18px;
      transition: 300ms all;
      background: #b1b2b3;
      mask: url("./icons/btn-with-active-share.svg") no-repeat center center;
      -webkit-mask: url("./icons/btn-with-active-share.svg") no-repeat center
        center;
    }
  }
}
