.editor-options-parent-wrapper {
  border-top: 0.1px solid #767677;
  border-bottom: 0.1px solid #767677;
  height: 30px;
  width: 98%; // adjust the height to width 100% later


  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;

  -khtml-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  .editor-left-options {
    -khtml-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    button {
      height: 17px;
    }
    display: flex;
    align-items: center;
    gap: 10px;
    .separator {
      font-size: 15px;
      color: #5b5b5c;
    }
  }
  .editor-right-options {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;
    cursor: pointer;

    .share-button {
      width: 12px;
      height: 18px;
      transition: 300ms all;
      background: #b1b2b3;
      mask: url("./icons/btn-with-active-share.svg") no-repeat center center;
      -webkit-mask: url("./icons/btn-with-active-share.svg") no-repeat center
        center;
      cursor: pointer;
    }
  }
}
