.table-parent-wrapper {
  padding: 1%;
  display: flex;
  justify-content: center;
  display: flex;
  flex-direction: column;
  color: #747373;

  .table-header {
    height: 40px;
    width: 100%;
    border: 0.1px solid #747373;
    display: flex;

    span:first-child {
      width:655.99px;
    }
    span:not(:first-child) {
      width: 246.9px;
    }
    span {
      padding:8px 31px 0 10px;
      text-align: left;
      font-weight: 300;
      

      &:not(:last-child) {
        border-right: 0.1px solid #747373;
      }
    }
  }

  .table-list-items-wrapper {
    font-size: 13px;
    :first-child {
      border-top: 0;
    }
    .table-list-items-files {
      width: 100%;
      border: 0.1px solid #747373;
      display: flex;

      .metaTags-wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        height: fit-content;
      }
      .owner-wrapper{
        display:flex;
        align-items: center;
        flex-wrap: wrap;
      }
      span {
        text-align: left;
        padding: 10px 20px;
        height: initial;
        align-items: center;
      }
      span:first-child {
        width: 670.6px;
      }
      span:not(:first-child) {
        width: 252.58px;
      }
      span:not(:last-child) {
        border-right: 0.1px solid #747373;
      }
    }
    .table-list-items-folder {
      border: 0.1px solid #747373;
      width: 100%;

      .folder-wrapper-name {
        padding: 10px 20px;

        height: initial;
      }

      .table-folder-wrapper {
        .table-list-items-files {
          span {
            padding-left: 40px;
          }
          span:not(:first-child) {
            padding-left: 20px;
          }
          span:first-child {
            width: 648.9px;
          }
          width: 97.92vw;
        }
      }
    }

    .table-list-items-files,
    .table-list-items-folder {
      height: 100%;
    }
  }
}
