.wiki-user-container {
    .wiki-folder-speedselect, .wiki-folder-user-speedselect {
        padding: 10px 5px;
        .react-speedselect-container {
            border: none !important;
            display: flex;
            position: relative;
            background-color: transparent;
            font-size: 11px;
            border-radius: 2px;
            align-items: center;
            .select-label-wrapper {
              height: 16px;
              max-width: fit-content;
              color: #8B8B8B;
              padding: 1px 8px;
            }
            .select-box-wrapper {
              background-color: transparent;
              border-radius: 0px 2px 2px 0px;
              height: 17px;
              .select-box {
                height: auto;
                background-color: transparent;
                padding: 2px;
                padding-right: 14px;
                border: none;
                &:hover {
                  background-color: transparent;
                }
                .label-wrapper {
                  .label {
                    color: #fff !important;
                    line-height: 13px;
                    text-transform: capitalize;
                    padding: 0 6px;
                    margin-top: -3px;
                    font-size: 11px;
                  }
                }
                .dropdown-icon-wrapper {
                  display: block;
                  position: absolute;
                  right: 5px;
                  top: 5px;
                  width: 0;
                  height: 0;
                  border-left: 4px solid transparent;
                  border-right: 4px solid transparent;
                  border-top: 6px solid #202124;
                  border-top-color: #fff !important;
                  div {
                    display: none;
                  }
                }
              }
              .select-dropdown {
                max-width: fit-content;
                position: absolute;
                max-width: 600px;
                width: 130px;
                left: 0 !important;
                min-width: calc(100% - 40px) !important;
                z-index: 9;
                border: none;
                border-radius: 2px;
                overflow: hidden;
                background: #364149;
                box-shadow: 3px 3px 5px 0px rgb(0 0 0 / 45%);
                -webkit-box-shadow: 3px 3px 5px 0px rgb(0 0 0 / 45%);
                -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.45);
      
                .search-wrapper {
      
                  .search {
                    width: 100%; //! temporary fix - discus with devang
                  }
                }
                .options-wrapper {
                  background: #fff;
                  overflow: scroll; //! temporary fix - discus with devang
                  .options {
                    list-style-type: none;
                    // padding-inline-start: 10px;
                    margin: 0px;
                    li {
                      padding: 2px 0;
                      label {
                        cursor: pointer;
                        color: #000;
                        // background-color: #fff;
                        text-transform: capitalize;
                     
                      }
      
                    }
                    
                  }
                }
              }
            }
          }
    }

    .wiki-folder-user-speedselect {
        display: none;
        padding: 0px;
    }

    .wiki-user-search-wrapper {
        .wiki-user-create {
            border-radius: 2px;
            display: flex;
            gap: 5px;
            padding: 10px;
            background: transparent;
            color: #fff;
            font-size: 11px;
            border: none;
    
            &::before {
                content: "";
                -webkit-mask: url('../../icons/icon-plus-lite.svg') no-repeat center center;
                mask: url("../../icons/icon-plus-lite.svg") no-repeat center center;
                width: 8px;
                -webkit-mask-size: 8px;
                background-color: #B1B2B3;
                mask-size: 8px;
                padding-top: 4px;
                height: 8px;
                display: block;
            }
        }

        .wiki-user-create-input {
            background: transparent;
            border: none;
            padding: 2px 8px;
            line-height: 16px;
            color: #fff;
            border: none;
            display: flex;
            align-items: flex-start;
            font-size: 11px;
            margin-left: 3px;
        }

        .wiki-user-create-input:focus {
            outline: none;
        }
    }

    

    .wiki-user-data-wrapper {
        display: flex;
        padding: 10px;
        align-items: center;
        width: 100%;

        .wiki-username {
            padding-left: 8px;
            color: #B1B2B3;
            font-size: 11px;
            font-style: normal;
            font-weight: 400;
            line-height: 14px; 
            width: 60%;
            display: flex;
            align-items: flex-start;
        }

        .wiki-delete-minus {
            content: "";
                -webkit-mask: url('../../icons/circle-minus-solid.svg') no-repeat center center;
                mask: url("../../icons/circle-minus-solid.svg") no-repeat center center;
                width: 10px;
                -webkit-mask-size: 10px;
                //background-color: #B1B2B3;
                mask-size: 10px;
                //padding-top: 4px;
                height: 10px;
                display: none;
        }
    }

    .wiki-user-data-wrapper:hover {
        .wiki-folder-user-speedselect {
            display: block;
        }

        .wiki-delete-minus {
            display: block;
        }
    }
}