
.wiki-modal, 
.wiki-overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 99;
}
.wiki-overlay {
  background: rgba(49,49,49,0.8);
}

.wiki-modal-content-crop {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: rgba(49,49,49,0.8);
  padding: 50px;
  border-radius: 2px;
  width: 500px;
  max-width: 500px;
  min-width: 300px;
  object-fit: contain;
  z-index: 999999;
  -moz-user-select: none;
-khtml-user-select: none;
user-select: none;

  .wiki-search-list{

    h5{
      font-weight:400;
      font-size:16px;
      margin: 0 0 10px;
    }
    button {
      background: var(--primary-color);
      border: none;
      border-radius: 2px;
      padding: 3px 10px;
      cursor: pointer;
      color: #fff;
      text-transform: uppercase;
    }
    
    .wiki-text-left{
      .wiki-btn{ margin-top:20px; }
    }
  }

  .wiki-info-inner{
    max-width: 100%;
    max-height: 100%;
    width: 500px;
    height: 250px;
    position: relative !important;
  }

  .wiki-grid {
    display: grid;
    grid-template-columns: 150px 52px 105px 105px;
    grid-gap: 10px;
    font-size: 12px;
  }
  .wiki-right-side-nav {
    display: grid;
    grid-template-columns: 20px 20px 20px 20px;
    margin: 0;
    width: 52px;
  }
  .wiki-hori-flip-button {
    display: block;
    padding: 0;
    width: 20px;
    height: 20px;
    background:#707070 !important;
    mask: url("../../icons/icon-flip-horizontal.png") no-repeat center center;
    mask-size: 16px;
  }
  .wiki-ver-flip-button {
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    background:#707070 !important;
    mask: url("../../icons/icon-flip-vertical.png") no-repeat center center;
    mask-size: 16px;
  }
  .wiki-right-rotate-button {
    display: block;
    width: 30px;
    height: 30px;
    padding: 0;
    background:#707070 !important;
    mask: url("../../icons/icon_rotate_right.svg") no-repeat center center;
    mask-size: 20px;
  }
  .wiki-left-rotate-button {
    background:#707070 !important;
    padding: 0;
    width: 30px;
    height: 30px;
    display: block;
    mask: url("../../icons/icon_rotate_left.svg") no-repeat center center;
    mask-size: 20px;
  }

  .wiki-rotate{
    display: flex;
    align-items: center;
  }


  .wiki-tooltip {
    top: 100%;
    right: 10px;
    cursor: pointer;

    .wiki-info {
      display: block;
      padding: 0;
      background:#707070;
      width: 100%;
      max-width: 100%;
      cursor: pointer;
    }
    .wiki-tooltiptext {
      width: auto;
      padding: 3px 8px;
      margin: 20px 0 0 0;
      position: absolute;
      visibility: hidden;
      background-color: #333;
      color: #fff;
      font-size: 10px;
      text-align: left;
      float: inline-start;
      border-radius: 2px;
      right: auto;
      z-index: 1;
    }
  }
  .wiki-tooltip:hover .wiki-tooltiptext {
    visibility: visible;
  }

  .wiki-select-dropdown{
    position: relative;
    padding: 5px 0;

    select{
      width: 80px;
      min-width: auto;
      padding: 3px;
      border: none;
      font-size: 14px;
      font-weight: 600;
      -webkit-appearance: none;
      color:#2151FF;
      background: transparent url(../../icons/icon-arrow-down.svg) no-repeat 90% center;
      &:foucs{
        outline: none;
      }
    }
  }

  .wiki-action-buttons{
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .wiki-btn-ok,
    .wiki-btn-cancel{
      background: var(--primary-color);
      border: none;
      border-radius: 2px;
      padding: 3px 10px;
      cursor: pointer;
      color: #fff;
      font-size: 11px;
      text-transform: uppercase;
    }

    .wiki-btn-cancel {
      background: #666;
      margin-left: 15px;
    }
  }
  
  .wiki-btn-close {
    display: block;
    width: 14px;
    height: 14px;
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 0;
    background: #333;
    mask: url("../../icons/icon-close-lite.svg") no-repeat center center;
    mask-size: 14px;
    border-radius: 4px;
    cursor: pointer;
  }
}


.resizable {
  -moz-user-select: none;
-khtml-user-select: none;
user-select: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0;
}

 .resizable .resizers{
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  width: 100%;
  height:100%;
  border: 2px solid #4286f4;
  box-sizing: border-box;
  position: absolute;
  top: 0px;
  left: 0;
}
.resizable .resizers .resizer{
  -moz-user-select: none;
-khtml-user-select: none;
user-select: none;
  width: 10px;
  height: 10px;
  border-radius: 50%; /*magic to turn square into circle*/
  background: white;
  border: 3px solid #4286f4;
}

.resizable .resizers .resizer{
  -moz-user-select: none;
-khtml-user-select: none;
user-select: none;
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
  border: 2px solid #4286f4;
}
.resizable .resizers .resizer.top-left {
  left: -5px;
  top: -5px;
  cursor: nwse-resize; /*resizer cursor*/
}
.resizable .resizers .resizer.top-right {
  right: -5px;
  top: -5px;
  cursor: nesw-resize;
}
.resizable .resizers .resizer.bottom-left {
  left: -5px;
  bottom: -5px;
  cursor: nesw-resize;
}
.resizable .resizers .resizer.bottom-right {
  right: -5px;
  bottom: -5px;
  cursor: nwse-resize;
}

.wiki-save-content {
  position: absolute;
  bottom: 20px;
  left: 50px;
  display: flex;
  gap: 10px;
}