.wiki-app-sub-header {

    background: #151515;
    font-size: 11px;
    height: 34px;
    font-weight: 400;
    border-bottom: 1px solid #42444A;
    
}

.wiki-content-parent-wrapper{
    padding: 30px 57px;
}