.wiki-app-sub-header {

    background: #151515;
    font-size: 11px;
    height: 34px;
    font-weight: 400;
    border-bottom: 1px solid #42444A;
    
}

.wiki-content-parent-wrapper{
    // padding: 23px 57px;


    .tab-view{
        display: flex;
    flex-wrap: wrap;
    gap: 29px;
    padding: 13px;
    }
}