.list-order-parent-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  .numbered-list,
  .unordered-list {
    width: 12px;
    height: 12px;
    transition: 300ms all;
    background: #b1b2b3;
    cursor: pointer;
    -khtml-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  }
  .numbered-list {
    mask: url("../icons/numberListOrder.svg") no-repeat center center;
    -webkit-mask: url("../icons/numberListOrder.svg") no-repeat center center;
  }
  .unordered-list {
    mask: url("../icons/feListOrder2.svg") no-repeat center center;
    -webkit-mask: url("../icons/feListOrder2.svg") no-repeat center center;
  }
}
