.url-button-parent-wrapper {
  -khtml-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  .url-button {
    width: 12px;
    height: 12px;
    transition: 300ms all;
    background: #b1b2b3;
    mask: url("../icons/icon-link.svg") no-repeat center center;
    -webkit-mask: url("../icons/icon-link.svg") no-repeat center center;
    cursor: pointer;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
}
